
<div>
    <div class="container bgclr">

      <h5>1. Why should I insure my Car or Bike?</h5> 
      <p>Its required by law to do so. Secondly, you get covered for all damages to your vehicle, or if it gets stolen.</p>
      <h5>2. Are there different types of Car Insurance?</h5> 
      <p>There is no difference in insurance coverage across companies, although prices do vary. Some companies offer Zero Depreciation covers, which are usually more expensive, and offer full coverage of parts and replacement. </p>
      <h5>3. What are the factors one should look at while choosing the plan?</h5> 
      <p>Motor Insurance is very simple. <br>
        Always look at buying regular coverage or Zero Depreciation covers.<br>
        Look at car value to be insured. Most insurers use standard formulas – also called Insured Declared Value. This is the value for which your insurance is valid.
        <br>The actual Premiums vary from company to company – but the coverage is standard and exactly the same. So going for the cheaper option is always sensible
        <br>Some of our customers are particular about adequate Cashless Garages in their locality that each insurer have tie-ups with</p>
      <h5>4. So why if Premium offered is higher by one company, is it a better cover?</h5> 
      <p>No, all covers are standard and cover you for any damage or theft to your car and also any liability you or your car can cause (referred to as Third Party cover)
        <br>Then there are “Zero Depreciation” covers, which cover you for the full value of repair – without deducting any depreciation. Remember, when you got a claim last time and found out that the insurance company deducted “depreciation” for your parts and made you pay for it. That won't happen when you buy a Zero Depreciation cover. However, these covers are more expensive.</p>
      <h5>5. What are Zero Depreciation Plans?</h5> 
      <p>Simple. In regular covers, when you claim insurance for any damage or repair, the insurance company would deduct some amount and make you pay for it. Wondered why. That’s what they call “Depreciation charges”
        <br> So, you had a claim of 20,000 rupees but the insurance company paid only 15000 to the garage and you had to pay the balance. The balance 5000 is called Depreciation charges. If you had taken a Zero Depreciation cover, the insurance company would have paid the entire amount of 20,000 rupees.</p>
      <h5>6. So should I take Regular cover or Zero Depreciation?</h5> 
      <p>If your car is less than 3 years old – take Zero Depreciation
        <br>  Repair costs of luxury car models are very expensive, especially since you go to the authorised dealers usually. Go for Zero Depreciation covers
        <br> Otherwise, look at the difference in premiums and decide. Zero Depreciation covers are expensive, sometimes by even 50%</p>
      <h5>8. Is Service Tax applicable and how much is it?</h5> 
      <p>Yes, Service Tax is applicable and would be as per prevailing rule of law.</p>
      
    </div>
</div>
