
<div>
    <div class="container bgclr">

      <h5>1. Why should I insure my Car or Bike?</h5> 
      <p>Its required by law to do so. Secondly, you get covered for all damages to your vehicle, or if it gets stolen.</p>
      <h5>2. Are there different types of Car Insurance?</h5> 
      <p>There is no difference in insurance coverage across companies, although prices do vary. Some companies offer Zero Depreciation covers, which are usually more expensive, and offer full coverage of parts and replacement. </p>
      <h5>3. How is the Motor Insurance Calculated?</h5> 
      <p>Motor Insurance is very simple. <br>
        Motor Insurance is calculated based on the vehicle age.<br>
        Look at car value to be insured. Most insurers use standard formulas – also called Insured Declared Value. This is the value for which your insurance is valid.
        <br>The actual Premiums vary from company to company – but the coverage is standard and exactly the same. So going for the cheaper option is always sensible
        <br>Some of our customers are particular about adequate Cashless Garages in their locality that each insurer have tie-ups with</p>
      <h5>4. So why if Premium offered is higher by one company, is it a better cover?</h5> 
      <p>No, all covers are standard and cover you for any damage or theft to your car and also any liability you or your car can cause (referred to as Third Party cover)</p>
      <h5>5. Is Service Tax applicable and how much is it?</h5> 
      <p>Yes, Service Tax is applicable and would be as per prevailing rule of law.</p>
      
    </div>
</div>
