<div>
  <div class="container bgclr">
  <footer class="footer ">
    <div class="container">
        <div class="row">             
            <div class="col-7 col-sm-8">
                <br> <br>  
                <h5>Our Address</h5>
                <address>
                  Plot No. EL-200, TTC Electronic Zone Shil Phata<br>
              Mahape, Navi Mumbai<br>
              Maharashtra<br>
              PIN: 400710<br>
              Phone Num: <a href="https://www.phone.com/">+91 9148377477</a><br>
              Email: <a href="http://outlook.office.com/">chathura.ms@lntinfotech.com</a>
           </address>
            </div>

            <div class="col-12 col-sm-4 order-sm-last align-self-center">    
                <br>            
                  <address>
                    Abhiruchi Shendkhar: <a href="https://www.phone.com/">8605559596</a><br>
                    Chathura M S:    <a href="https://www.phone.com/">9148377477</a><br>
                    Harshit Singh:     <a href="https://www.phone.com/">8855988284</a><br>
                    Rituraj Gujare: <a href="https://www.phone.com/">8097116123</a>
                  </address>
             </div>
        </div>
        <br>


       <div class="row justify-content-center border hello">             
            <div  class="col-auto"><br>
                <p>LTI General Insurance</p>
            </div>
       </div>
    </div>
</footer>
</div>
</div>
