.border {
  border: 1px solid mediumpurple;
  background-color: mediumpurple;
   color: white;
   padding: 10px;
 }

 .main{
   background-color: lightskyblue;
 }

 .padding{
     padding: 0px 0px 0px 70px;
 }