
<!-- <app-nav-bar></app-nav-bar> -->
<br><br>
<section >
  <div class="container">
      <div class="row">
          <div class="span2 border col-12 col-sm-6">
              <h3 class="text-center">Our Mission</h3>
              <address class="padding">Satisfy your need of insurance cover in that crucial hour<br>
                Offer incomparable customer service<br>
                We have made claim easy<br>
                Better reach through presence across India and abroad </address>
          </div>
          <div class="span2 border col-12 col-sm-6">
              <h3 class="text-center">Our Promise</h3>
              <address class="padding"> Make affordable insurance accessible to all<br>
                Keeping you, our customers, as focal point in all our operations<br>
                Protect policy holders’ interests<br>
                Be the most innovative in product development </address>
          </div>
      </div>

      <div class="row justify-content-center border hello">             
         <div class="col-auto">
            <h3>Our Services</h3>
         </div>
      </div>
      

      <div class="row ">
        <div class="span2 text-center border col-12 col-sm-6">
            <h3>Third Party Insurance</h3>
            <p> A third-party car insurance is the most basic, and legal form of car insurance policy you 
                will need. As the name suggests, this will only protect you from damages and 
                losses caused to a third-party and won’t cover for your own damages.</p>
        </div>
        <div class="span2 text-center border col-12 col-sm-6">
            <h3>Comprehensive Insurance</h3>
            <p> A comprehensive car insurance is one of the most preferred types of car insurance policies, as it covers for not only third-party 
                liabilities and losses but, also covers for damages caused to you and your own car.</p>
        </div>
    </div>
  </div>
</section>

