<!--<p>policy-details works!</p>-->
<div class="center-div">
    <form class="frm" (ngSubmit)="moveToPayment()">
        <h4>Vehicle Number: {{ vehicleNumber }} <br /></h4>
        <h4>New Policy Type: {{ type }}<br /> </h4>
        <h4>New Policy Period: {{ period }} <br /></h4>
        <h4>New Policy Start Date: {{startDate}}<br/></h4>
        <h4>New Policy End Date: {{endDate}}<br/></h4>
        <h4>New Each Year Idv: Rs.{{idv}}<br/></h4>
        <h4>New Premium: Rs.{{premium}}<br/></h4>
        <h4>New Total Idv: Rs.{{totalIdv}}<br/></h4>
        <button class="btn btn-success">Make Payment</button>
    </form>  
</div>
