<div class="center-div">
    <form #userForm="ngForm" class="frm" (ngSubmit)="loginCheck()">
       
     <div>
        <input type="email" required 
        placeholder="Enter your email id" 
        name="email" 
        [(ngModel)] = "login.email"
        #email = "ngModel"/><br>
      </div> 
  
      <div *ngIf="email.invalid && (email.dirty||email.touched)">
        <div class="alert alert-danger" *ngIf="email.errors.required">
          Email Id is required
         </div>
      </div>
  
      <div>
        <input type="password" required 
        placeholder="Enter your password" 
        name="password" 
        [(ngModel)] = "login.password"
        #password = "ngModel"/><br>
      </div> 
  
      <div *ngIf="password.invalid && (password.dirty||password.touched)">
        <div class="alert alert-danger" *ngIf="password.errors.required">
          Password is required
         </div>
      </div>
        <button type="submit" [disabled]="userForm.invalid" class="btn btn-success">Login</button>
        <button type="submit" class="btn btn-progress">Forgot Password</button>
        <p>New To LTI Insurance?
            <a href="http://localhost:4200/customer-register">Register</a>
        </p>
    </form>
</div>

