<div class="center-div">
    <form class="frm" (ngSubmit)="loginCheck()">
        <input type="email" name ="email" placeholder="Enter Your Email" [(ngModel)]="login.email" />
        <input type="password" name="password" placeholder="Enter Your Password" [(ngModel)]="login.password" />
        <button type="submit" class="btn btn-success">Login</button>
        <button type="submit" class="btn btn-progress">Forgot Password</button>
        <p>New To LTI Insurance?
            <a href="http://localhost:4200/customer-register">Register</a>
        </p>
    </form>
</div>

