<!--<p>buy-insurance works!</p>-->
<!--<p>buy works!</p>-->
<div class="center-div">
    <form class="frm">
      <label for="cars">Choose a car:</label>
    <select name="cars type" id="cars">
    <option value="">2 Wheeler</option>
    <option value="saab">4 Wheeler</option>
    </select>
      <input type="text" placeholder="Enter Vehicle Numbers" /><br/>
      <input type="number" placeholder="Enter Vehicle Price" /><br/>
      <input type="date" placeholder="Enter Vehicle Registration date" /><br/>
      <input type="text" placeholder="Enter Vehicle Engine no." /><br/>
      <input type="text" placeholder="Enter Vehicle Driving License" /><br/>
      <input type="text" placeholder="Enter Vehicle Chassis number" /><br/>
      <input type="text" placeholder="Enter Vehicle Model" /><br/>
      <input type="text" placeholder="Enter Vehicle Manufacturer" /><br/>
      <button type="submit" class="btn btn-success">Submit</button>
  </form>
  </div>

