
<div class="center-div">
    <form #userForm="ngForm" class="frm" (ngSubmit)="registerCustomer()">
      <div>
        <label>Enter Your Name:</label> <br>
        <input type="text" required 
        placeholder="Enter Our Name" 
        name="name" [(ngModel)] = "customer.name" 
        #name ="ngModel"/><br>
     </div>
    
     <div *ngIf="name.invalid && (name.dirty||name.touched)">
       <div class="alert alert-danger" *ngIf="name.errors.required">
            Name is required
        </div>
     </div>

     <div>
      <input type="email" required 
      placeholder="Enter Your Email id" 
      name="email" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" 
      [(ngModel)] = "customer.email"
      #email = "ngModel"/><br>
    </div> 

    <div *ngIf="email.invalid && (email.dirty||email.touched)">
      <div class="alert alert-danger" *ngIf="email.errors.required">
        Email Id is required
       </div>
    </div>

    <div>
      <input type="password" required 
      placeholder="Enter Your Password" 
      name="password" 
      [(ngModel)] = "customer.password"
      #password = "ngModel"/><br>
    </div> 

    <div *ngIf="password.invalid && (password.dirty||password.touched)">
      <div class="alert alert-danger" *ngIf="password.errors.required">
        Password is required
       </div>
    </div>

    <div>
        <label>Enter Your Date of Birth:</label>
        <input type="date" required 
        placeholder="Enter Your Date of Birth" 
        name="dateOfBirth" 
        [(ngModel)] = "customer.dateOfBirth"
        #dateOfBirth = "ngModel"/><br>
      </div> 
  
      <div *ngIf="dateOfBirth .invalid && (dateOfBirth.dirty||dateOfBirth .touched)">
        <div class="alert alert-danger" *ngIf="dateOfBirth .errors.required">
          Date Of Birth is required
         </div>
      </div>
      

      <div>
        <input type="text" required 
        placeholder="Enter Your Address" 
        name="address" 
        [(ngModel)] = "customer.address"
        #address = "ngModel"/><br>
      </div> 
  
      <div *ngIf="address.invalid && (address.dirty||address.touched)">
        <div class="alert alert-danger" *ngIf="address .errors.required">
          Address is required
         </div>
      </div>
      <div>
        <input type="text" required 
        placeholder="Enter Your City" 
        name="city" 
        [(ngModel)] = "customer.city"
        #city = "ngModel"/><br>
      </div> 
  
      <div *ngIf="city.invalid && (city.dirty||city.touched)">
        <div class="alert alert-danger" *ngIf="city.errors.required">
          City is required
         </div>
      </div>
      <div>
        <input type="text" required 
        placeholder="Enter Your State" 
        name="state" 
        [(ngModel)] = "customer.state"
        #state= "ngModel"/><br>
      </div> 
  
      <div *ngIf="state.invalid && (state.dirty||state.touched)">
        <div class="alert alert-danger" *ngIf="state.errors.required">
          State is required
         </div>
      </div>
      <div>
        <input type="number" required 
        placeholder="Enter Your Pincode" 
        name="pincode" 
        [(ngModel)] = "customer.pincode"
        #pincode= "ngModel"/><br>
      </div> 
  
      <div *ngIf="pincode.invalid && (pincode.dirty||pincode.touched)">
        <div class="alert alert-danger" *ngIf="pincode.errors.required">
          Pincode is required
         </div>
      </div>
      <div> 
        
        <input type="number" required 
        placeholder="Enter Your Mobile Number." 
        name="mobileNumber" 
        [(ngModel)] = "customer.mobileNumber"
        #mobileNumber = "ngModel"/><br>
      </div>  

      <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty||mobileNumber.touched)">
        <div class="alert alert-danger" *ngIf="mobileNumber.errors.required">
          Mobile Number is required
         </div>
      </div>
  
      <button type="submit" [disabled] = "userForm.invalid" class="btn btn-success">Submit</button>
  </form>
  </div>