
<div class="center-div">
    <form class="frm" (ngSubmit)="registerCustomer()">
      <input type="text" name="name" placeholder="Enter Your Name" required [(ngModel)]= customer.name /><br/>
      <input type="email" name="email" placeholder="Enter Your Email-id" required [(ngModel)]= customer.email /><br/>
      <input type="password" name="password" placeholder="Enter Your Password" required [(ngModel)]= customer.password /><br/>
      <label>Enter Your Date of Birth:</label>
      <input type="date" name="dob" placeholder="" required [(ngModel)]= customer.dateOfBirth /><br/>
      <input type="text" name="address" placeholder="Enter Your Address" required [(ngModel)]= customer.address /><br/>
      <input type="text" name="city" placeholder="Enter Your City" required [(ngModel)]= customer.city /><br/>
      <input type="text" name="state" placeholder="Enter Your State" required [(ngModel)]= customer.state /><br/>
      <input type="number" name="pincode" placeholder="Enter Your Pincode" required [(ngModel)]= customer.pincode /><br/>
      <input type="number" name="mobile" placeholder="Enter Your Mobile Number" required [(ngModel)]= customer.mobileNumber /><br/>
      <!--<input type="text" placeholder="Confirm Password" required /><br/>-->
      <button type="submit" class="btn btn-success">Submit</button>
  </form>
  </div>