<!--<p>admin works!</p>--><div class="panel panel-primary">
  <div class="panel-heading">
    <h2>List Of All Claims</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Claim Id</th>
          <th>Claim Date</th>
          <th>Reason</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of claimData">
          <td>{{c[0]}}</td>
          <td>{{c[1]}}</td>
          <td>{{c[2]}}</td>
          <td>{{c[3]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<form class="frm">
  <input type="number" name="amount" placeholder="Enter Claim Id" required [(ngModel)]=adminDto.cid [(ngModel)]=rcl.rcid>
  <input type="number" name="amount" placeholder="Set Claim Amount" required [(ngModel)]=adminDto.amount>
  <input type="text" name="reason" placeholder="Enter rejection reason" required [(ngModel)]=rcl.rejectionReason>
  <button (click)="approveClaim()" class="btn btn-success" style="margin-left: 10px">Approve</button>

  <button (click)="rejectClaim()" class="btn btn-danger" style="margin-left: 10px">Reject</button>
          
</form>


