<div class="center-div">
    <form #userForm="ngForm" class="frm" (ngSubmit)="getpremium()">
    <label>Choose a Vehicle:</label>
    <select name="cars type" id="selection" required >
    <option value="2 Wheeler">2 Wheeler</option>
    <option value="4 Wheeler">4 Wheeler</option>
    </select>
      <input type="text" name = " model" placeholder="Enter Vehicle Model" required [(ngModel)]=vmodel /><br/>
      <input type="number" name = "price" placeholder="Enter Vehicle Price" required [(ngModel)]=price/><br/>
      <input type="number" name = "age" placeholder="Enter Vehicle Age" required [(ngModel)]= age/><br/>
      <button type="submit" [disabled]="userForm.invalid" class="btn btn-success" >Submit</button>
      <div *ngIf="age"><h3>your vehicle {{vmodel}} will have idv value Rs.{{idv}} and premium for your vehicle will be Rs.{{premium}} </h3></div>
  </form>
  </div>
