.main{
    padding: 25px;
  }

  .racorner {
    border-radius: 25px;
    background-color: violet;
    color: white;
    font-size: 19px;
    border: 2px solid;
    padding: 15px; 
    width: 100%;
    margin: 10px;
}

.racorner2 {
    border-radius: 10px;
    border: 2px solid #f8f0ef;
    background-color: #f8f0ef;
    padding: 30px; 
    width: 100%;
}

  .box {
    border-radius: 10px;
    background-color: #f8f0ef;
    width: 300px;
    border: 2px solid #f8f0ef;
    padding: 30px;
    margin: 40px 30px 40px 12px ;
    height: 320px;
  }

  .margin{
    margin: 25px 1px;
  }

  .image {
    background-image: url("../../assets/Images/img1.jpg");
    background-color:rgb(240, 182, 182);
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .image-text {  
    float: left;
    color: rgb(12, 12, 12);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media(max-width:550px){
    .image{
      background-image: url("../../assets/Images/img1.jpg");
      background-color:rgb(240, 182, 182);
      height: 120px;
      width: 80px;
    }
  }

  @media(max-width:550px){  
  .image-text {  
    color:rgb(12, 12, 12);
    position: absolute;
    width: 300px;
    height: 300px;
}
  }

  @media(max-width:550px){  
    .box {
      border-radius: 10px;
      background-color: lightgrey;
      width: 300px;
      border: 2px solid #73AD21;
      padding: 30px;
      margin: 40px 30px 40px 12px ;
      height: 520px;
    }
    }