<div *ngIf = "loggedInUserId">
  <h4><b>Welcome Back {{loggedInUserName}}</b></h4>
</div>

<div class="main">
  <div class="main-child">
    <img src="./assets/images/img1.jpg" />
  </div>
  <div class="main-child">
    <button (click)="onBuyClick()" class="modbuttons" >Buy Insurance</button><br>
    <button (click)="onRenewClick()" class="modbuttons" >Renew Insurance</button><br>        
    <button (click)="onClaimClick()" class="modbuttons">Claim Insurance</button><br>
    <button (click)="onCalculateClick()" class="modbuttons">Estimate Insurance Calculation</button><br>
  </div>
</div>