<!--<div class="main">
  <div class="row align-items-center">
    <div class="row col col-sm col-md box image">   
      
      <div class="col text-center"><h2>Why Insurance Important</h2> </div>
      
      <div class="col-9 image-text margin"> 
         <h6>Why go through lengthy, time consuming, procedure. With online purchase get policy instantly and get your two wheeler covered now.</h6>
         <h6>Though we believe you’ve been driving cautiously, however in case of any claim you wish to register, we do not restrict you.
              You can avoid out of pocket payments for unfortunate events like medical ailments, loss of your bike, accidents 
              and more. If your two/four wheeler insurance is expired we renew it without any inspection. </h6>
      </div>
    </div>

      <div class="col-12 col-sm-5 col-md-4">

          <div class="racorner2">                                   
                <button (click)="onBuyClick()" class="racorner" >Buy Insurance</button><br>
                <button (click)="onRenewClick()" class="racorner" >Renew Insurance</button><br>        
                <button (click)="onClaimClick()" class="racorner">Claim Insurance</button><br>
                <button (click)="onCalculateClick()" class="racorner">Estimate Insurance Calculation</button>      
          </div>

      </div>

  </div>
</div>-->

<div *ngIf = "loggedInUserId">
  <h4>Welcome Back {{loggedInUserName}}</h4>
</div>

<div class="main">
  <div class="main-child">
    <img src="./assets/images/img1.jpg" />
  </div>
  <div class="main-child">
    <button (click)="onBuyClick()" class="modbuttons" >Buy Insurance</button><br>
    <button (click)="onRenewClick()" class="modbuttons" >Renew Insurance</button><br>        
    <button (click)="onClaimClick()" class="modbuttons">Claim Insurance</button><br>
    <button (click)="onCalculateClick()" class="modbuttons">Estimate Insurance Calculation</button><br>
  </div>
</div>