<p>It is imperative for a driver to own a motor insurance. 
    Motor insurance is legally required in almost all the countries in the world. 
    Owning a quality motor insurance protects the driver, the passengers and their vehicle.
    The amount of insurance that one may require may vary depending on the country they are in. 
    If drivers are caught driving without car insurance they have a high risk of their vehicles being impounded on the spot. 
    The driver could also be charged with heavy fines and fees by the courts if caught driving without insurance policy. 
    In addition to all these issues, the driver may also get his license suspended or revoked for a certain amount of time.</p>
