<div class="center-div">
    <form  class="frm">
        <input type="number" placeholder="Enter Policy Number" /><br/>
        <input type="date" placeholder="Enter Claim Date" /><br/>
        <select name="Claim Reason">
            <option value="nd">Natural Disaster </option>
            <option value="mmd">Man-Made Disaster </option>
            <option value="rd">Road Accident </option>
            <option value="th">Theft </option>
        </select>
        <button type="submit">Submit</button>
    </form>
</div>
