.center-div {
    margin: auto;
    width: 60%;
    border: 3px solid blueviolet;
    padding: 10px;
    border-style: inset;
  }
  
  .frm{
    margin: auto;
    width: 60%;
    padding: 10px;
   
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  
  }
  
  input[type=text]:focus {
    border: 3px solid darkviolet;
  }
  input[type=submit] {
    width: 100%;
    background-color: violet;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: darkmagenta;
  }
  