<form class="frm">
    <label>Choose a Policy Type:</label>
    <select name="Policy type" id="selection" required [(ngModel)]= policy.type>
    <option value="3rd Party">Third Party</option>
    <option value="comp">Comprehensive</option>
    </select>
    <label>Choose a Policy Year:</label>
    <select name="Policy Year" id="selection" required [(ngModel)]= policy.startDate>
    <option value="One Year">One Year</option>
    <option value="Three Year">Three Year</option>
    <option value="Five Year">Five Year</option>
    </select>
    <button type="submit" class="btn btn-success">Payment</button>
</form>